.main-class{
    color: white;
    background: #928e04;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  */
     /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #CFDEF3, #E0EAFC);  */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}