<div style="text-align: center; padding: 20px" class="main-class" *ngIf="cObject">
  <img
    alt="image"
    [src]="'../../assets/images/' + cObject.Image"
    style="width: 100%"
  />
  <br>
  <span style="font-family: cursive; font-size: 25px; ">
    Hola {{ cObject.displayName }}</span
  >

  <div>
    <span style="font-family: cursive; font-size: 30px; ">
      {{ "You are Invited !" }}</span
    >
    <br /><br />
    <span
      style="font-family: cursive; font-size: 20px; "
    >
      {{
        cObject.Content ||
          "We have known each other since so many days.. years.. and this beautiful
      bond of friendship has grown very strong with time."
      }}
      </span>
      <br /><br />
      <span style="font-family: cursive; font-size: 20px;">I am going to be married to
      <span style="color: #28002f; font-size: 22px; font-weight: bold">
        {{ toName }}</span
      >
      to share my tomorrows and all that they hold... <br />I request the
      presence of you to make our beginning more special.
    </span>
    <div>
      <br />
      <!-- <img [src]="'../../assets/images/'+saveTheDate" alt="" >
    </div> -->
      <div style="width: 100%">
        <span
          style="font-size: 25px; font-family: cursive; "
          >save the date</span
        ><br />
        <span style="font-family: cursive;
        font-size: 22px;
        color: #28002f;
    ">
            <span>{{eventDate}}</span>
        </span>
       <br />
        
        <a [href]="locationURL" target="_blank"><span style="font-size: 22px; font-family: cursive;"> {{venue}} </span></a>
        <!-- <div style="width: 30%;float: left; ">
          <span>Hiiiii</span><br /><span>Hiiiii</span><br />
          <span>Hiiiii</span>
        </div>
        <div style="width: 30%;float: left; ">
          <span>Hiiiii</span><br /><span>Hiiiii</span><br />
          <span>Hiiiii</span>
        </div>
        <div style="width: 30%;float: left; ">
          <span>Hiiiii</span><br /><span>Hiiiii</span><br />
          <span>Hiiiii</span>
        </div> -->
      </div>
    </div>
  </div>
  <br>
  <br><br>
  <br>
</div>
