<div class="main-class">
  <router-outlet #outlet="outlet">
    <div *ngIf="params.id" style="text-align: center">
      <span
        style="
          color: #d8abb2;
          font-size: 50px;
          line-height: 3;
          font-family: sans-serif;
        "
        >Page Not Found : 404</span
      >
    </div>
  </router-outlet>
</div>
